*{
    margin:0;
    padding:0;

}

nav{
    display:flex;
    justify-content: center;
    background-color: black;
}
#navbar{
    padding: 8px;
    color: white;
}


.content{
    display: flex;
    justify-content: space-between;
background-color: rgb(41, 41, 70);

}

.container1{
flex-basis: 50%;
color: white;

}


.container2{
    flex-basis: 45%;    
    color: white;
}

section{
padding: 1%;
    
}

textarea{
    height: 22vh;
    width: 99%;
    padding: 1rem 1rem;
    background-color: whitesmoke;
    font-size: 20px;
}

iframe{
    height: 90vh;
    width: 100%;
    background-color: #fff;
    border: 0;
    outline: 0;
}
label i{
    margin-right: 10px;
    margin-left: 10px;
}

label{
    display: flex;
    align-items: center;
    height: 21px;
}